#wrapper {
    padding:0px;
    margin:0px;
    padding-left: 250px;
}

#sidebar-wrapper {
    margin-top:-10px;
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #eee;
    position: fixed;
    overflow-y: auto;
    z-index: 1000;
}

#page-content-wrapper {
    width: 100%;
    padding-left:0px;
}


.feed-options {
    background-color:#eee;
    overflow-x: scroll;
}

.feed-options-header {
    height:40px;
    background-color:#ccc;
    font-weight:bold;
    cursor:pointer;
    color:#fff;
}

.feed-options-title {
    float:left;
    padding:10px;
}

.feed-options-show-options {
    float:right;
    padding:10px;
    width:150px;
    text-align:center;
    border-left: 1px solid #eee;
}

.feed-options-show-stats {
    float:right;
    padding:10px;
    width:150px;
    text-align:center;
    border-left: 1px solid #eee;
}

#vis-mode-toggle, #vis-mode-user, #vis-mode-groups{
    margin:15px 0;
}

#group-table{
    width:100%;
}

#group-table .user-name td{
    font-size:12px; 
    padding:4px; 
    padding-left:8px; 
    font-weight:bold;
    background-color:#aaa; 
    cursor:pointer
}

#group-table tr{
    width:100%
}

#group-table .user-feed td{
    max-width:150px;
    overflow-x: hidden
}
